.property-item {
  position: relative;
  margin: 20px !important;
  margin-top: 10px !important;
  transition: 400ms ease;
  border-radius: 10px !important;
  overflow: hidden !important;
  border: 1px solid lightgrey !important;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px 2px lightgrey;
    cursor: pointer;
  }
}
#property-nav {
  margin-top: 40px;

  .prev {
    left: 0;
    bottom: -90px;
  }

  .next {
    right: 0;
    bottom: -90px;
  }
}

.view_more {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 45px 35px #fff;
  z-index: 10;
}

.view_more_btn {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 55px;
  width: 215px;
  z-index: 11;
}
