.dropdown-item {
  cursor: pointer;
}
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: "100px";
}
.dropdown_item {
  width: "100%";
  margin: 0 !important;
  background-color: lightgrey;
  z-index: 10000;
  &:hover {
    backdrop-filter: brightness(0.5);
  }
}

.set-top {
  position: fixed;
  top: 0;
  left: 0;
}

.offcanvas .nav-link:hover {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 10px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.offcanvas {
  background-color: #f5f5f5; // Цвет фона
  width: 300px; // Ширина
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offcanvas-title {
  font-size: 20px;
  font-weight: bold;
  color: #333; // Цвет текста
}

.btn-close {
  color: #333;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btn.dropdown-toggle {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;

  .dropdown-item {
    display: flex;
    align-items: center;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
@media (max-width: 524px) {
  .navbar-brand {
    display: none;
  }
}
